<div class="form-group">
	<label for="title">Title</label>
	<input value="{{article.title}}" type="text" name="title" id="title" class="form-control" required>
</div>

<div class="form-group">
	<label for="description">Description</label>
	<textarea value="{{article.description}}" name="description" id="description" class="form-control" required></textarea>
</div>

<div class="form-group">
	<label for="markdown">Markdown</label>
	<textarea value="{{article.markdown}}" name="markdown" id="markdown" class="form-control" rows="10" required></textarea>
</div>

<a href="/" class="btn btn-secondary mt-4">Cancel</a>
<button type="submit" class="btn btn-primary mt-4">Create</button>